/*
color palette
https://coolors.co/f7f7f2-e4e6c3-899878-222725-121113
#F7F7F2-Baby powder
#121113-Rich black
#222725-Chrrlston Green
#E4E6C3-pale spring bud
#899878-Artichoke
*/


/* Global Styles
--------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, after {
    box-sizing: inherit;
}
body {
    color: #121113;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}
img {
    width: 300px;
}
a {
    color: #E4E6C3;
}
 a:hover {
    text-decoration: none;
}
h1 {
    font-size: 85px;
    line-height: 1;
} 
h2 {
    font-size: 40px;
}
h1, h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    margin: 0;   
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}




/* Profile
--------------------------------*/
header {
 background-color: #222725;
 color: #F7F7F2;   
}





/* Project
--------------------------------*/
.projects {
    background: #F7F7F2;
}
.projects a {
    color: #F7F7F2;
    background: #222725;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects a:hover {
  background: rgba(22, 27, 25, 80%);  
}
.items {
    overflow: hidden;
    border-bottom: 1px solid #222725;
    padding: 25px 0;
}
.items h3 {
    margin-top: 0;
}
.items img {
    float: left;
    margin-right: 20px;
}





/* Work Experience
--------------------------------*/
.work-experience {
    background: #E4E6C3;
}


/* Education
--------------------------------*/



/* Contact Info
--------------------------------*/
footer {
    background: #121113;
    color: #F7F7F2;
}